rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all reads and writes to all documents for all users.
    // This is for development and debugging ONLY.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
